body {
  display: flex;
  justify-content: center;
}

.left-side,
.right-side {
  background-color: blue;
  display: flex;
  flex: 1;
  height: 100vh;
}

.middle {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  height: 100vh;
}
.game-board {
  background-color: green;
}

.game-board tbody {
  background-color: white;
}

.game-board td {
  background-color: red;
}


aside .right {

}

aside .left {

}
