.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
}

.left-side,
.right-side {
  background-color: blue;
  display: flex;
  flex: 1;
  height: 100vh;
}

.middle {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  height: 100vh;
}

.game-board {
  display: flex;
  flex-direction: column;
  background-color: green;
  flex: 5;

}

.table {
  flex: 1;
  background-color: white;
  height: 100%;
  width: 100%
}

.game-board td {
  background-color: red;
}



/*
aside section {
  display: flex;
  text-align: center;
} */
